<div class="container text-light">
    <p>
        Bienvenue sur mon portfolio ! Ce site web est une vitrine de mes compétences,
        de mes réalisations passées et de mes projets en cours. Il a pour objectif de présenter de manière claire et
        concise
        mon parcours étudiant et professionnel ainsi que mes réalisations dans le domaine de l'IT.
    </p>
    <p>
        Chaque onglet du site correspond à un projet spécifique que j'ai réalisé. Chaque projet est accompagné d'une
        description détaillée, de captures d'écran ou de vidéos illustratives, et des compétences spécifiques que j'ai
        mises en œuvre pour le mener à bien. Vous pourrez ainsi explorer mes réalisations et vous plonger dans les
        détails de chaque projet.
    </p>
    <p>
        De plus, ce site dispose d'une fonctionnalité de connexion administrateur qui me permet de gérer facilement les
        projets affichés. Grâce à cette fonctionnalité, j'ai un contrôle total sur le contenu de mon portfolio en ligne.
        Je peux ajouter de nouveaux projets en fournissant une description détaillée, des images et des liens
        pertinents. De même, je peux modifier ou retirer des projets qui ne sont plus d'actualité ou qui ne correspondent plus à mes
        compétences actuelles. Cette fonctionnalité de connexion administrateur me permet de maintenir mon portfolio à
        jour et de vous offrir une expérience de navigation toujours enrichissante.
    </p>
    <p>
        J'espère que vous apprécierez la visite de mon portfolio. N'hésitez pas à me contacter si vous avez des
        questions, des commentaires ou si vous souhaitez discuter d'un projet potentiel. Merci de votre intérêt et de
        votre visite !
    </p>
    <p>
        Robin 🙂
    </p>
</div>