<div class="container d-flex flex-column text-light">
  <h1 class="d-flex">
    <ng-container *ngIf="!editModeTitle; else editTitle">
      {{ (project$ | async)?.title }}
      <i class="bi bi-pencil-square ms-5" *ngIf="shouldDisplayAdmin() | async" (click)="editModeTitle = true"></i>
    </ng-container>
    <ng-template #editTitle>
      <input type="text" class="form-control w-50 me-2" [(ngModel)]="editedTitle" [value]="editedTitle">
      <button class="btn btn-danger" (click)="cancelEditTitle()">Cancel</button>
    </ng-template>
  </h1>
  <ng-container *ngFor="let paragraph of paragraphs$|async; let i = index">
    <h2 class="d-flex">
      <ng-container *ngIf="!getParagraphEditById(paragraph.id)?.title?.editMode; else editParagraphTitle">
        {{ paragraph.title }}
        <i class="bi bi-pencil-square ms-5" *ngIf="shouldDisplayAdmin() | async" (click)="getParagraphEditById(paragraph.id)!.title.editMode= true"></i>
      </ng-container>
      <ng-template #editParagraphTitle>
        <input type="text" class="form-control w-50 me-2" [(ngModel)]="getParagraphEditById(paragraph.id)!.title!.value" [value]="paragraph.title">
        <button class="btn btn-danger" (click)="cancelEditParagraph(paragraph.id, 'title')">Cancel</button>
      </ng-template>
    </h2>
    <p class="d-flex">
      <ng-container *ngIf="!getParagraphEditById(paragraph.id)?.content?.editMode; else editContent">
        {{ paragraph.content }}
        <i class="bi bi-pencil-square ms-5" *ngIf="shouldDisplayAdmin() | async" (click)="getParagraphEditById(paragraph.id)!.content!.editMode = true"></i>
      </ng-container>
      <ng-template #editContent>
        <textarea class="form-control w-50 me-2" rows="3" [(ngModel)]="getParagraphEditById(paragraph.id)!.content!.value">{{ paragraph.content }}</textarea>
        <button class="btn btn-danger" (click)="cancelEditParagraph(paragraph.id, 'content')">Cancel</button>
      </ng-template>
    </p>
  </ng-container>
  <div *ngIf="shouldDisplayAdmin() | async">
    <button class="btn btn-secondary text-white" (click)="save()">Save <i class="bi bi-pencil-square"></i></button>
  </div>
</div>
