<div class="container d-flex flex-column text-light">
  <h1 class="d-flex">
    <ng-container *ngIf="!editModeTitle; else editTitle">
      {{ (project$ | async)?.title }}
      <i class="bi bi-pencil-square ms-5" *ngIf="shouldDisplayAdmin() | async" (click)="editModeTitle = true"></i>
    </ng-container>
    <ng-template #editTitle>
      <input type="text" class="form-control w-50 me-2" [(ngModel)]="editedTitle" [value]="editedTitle">
      <button class="btn btn-danger" (click)="cancelEditTitle()">Cancel</button>
    </ng-template>
    <button class="btn btn-danger" *ngIf="shouldDisplayAdmin() | async"  (click)="deleteProject()">Delete Project</button>
  </h1>

  <ng-container *ngIf="shouldDisplayAdmin() | async">
    <quill-editor [(ngModel)]="editedHtmlContent"></quill-editor>
  </ng-container>
  <ng-container *ngIf="!(shouldDisplayAdmin() | async)">
    <div [innerHTML]="(project$ | async)?.htmlContent"></div>
  </ng-container>

  <div *ngIf="shouldDisplayAdmin() | async">
    <button class="btn btn-secondary text-white" (click)="save()">Save <i class="bi bi-pencil-square"></i></button>
  </div>
</div>
