/* You can add global styles to this file, and also import other style files */

$primary: #ffcdb2
$secondary: #e5989b
$info: #b5838d

@import "../node_modules/bootstrap/scss/bootstrap"

a:hover, button:hover
    cursor: pointer